<article class="main-box">
  <header class="article-header">
    <h1 class="article-title-text">Book Library</h1>
  </header>
  <article class="context-box">
    <div class="upload-form" [ngClass]="{'hide-dropdown':isUploadFormHidden}">
      <div class="form-dropdown" (click)="changeUploadFormState()">
        <p *ngIf="labelStates.length > 0">{{isFileSelected ? labelStates[1] : labelStates[0]}}</p>
        <div class="image-wrapper"><img src="img/arrow_drop_down_grey_18x18.png"/></div>
      </div>
      <div class="form-group">
        <input [(ngModel)]="uploadFileName" type="text" id="name" class="input-field" name="name"
               placeholder="Book name" required>
        <input (change)="changeUpload($event)" type="file" name="file" id="file" class="upload"
               placeholder="Upload file" accept=".fb2,.txt,.doc">
        <div>
          <label class="upload-label" for="file">Choose a file</label>
          <label (click)="performUpload()" class="upload-label">Upload</label>
        </div>
      </div>
    </div>

    <div id="library-wrapper">
      <div *ngFor="let book of bookList | async" class="book-row-wrapper" [routerLink]="['/book-words/',book.id]">
        <div class="book-info-wrapper">
          <div class="book-name"><span>{{book.bookName}}</span></div>
          <div class="book-info">
            <span class="words">Words: {{book.words}}</span>
            (<span class="green"> {{book.newWords}} </span>
            /<span class="yellow"> {{book.inProgress}} </span>
            /<span class="black"> {{book.learnedWords}} </span>)
          </div>
        </div>
        <div class="action-panel">
          <i class="material-icons" (click)="deleteBookById(book.id)">clear</i>
        </div>
      </div>

    </div>
  </article>
</article>
