@import "../../../style/common";

:host {
  //component should be 100%
  box-sizing: border-box;
  width: 100%;

  //box with all component content
  article.main-box {
    background: white;
  }

  article {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: #F3F3F5;
    flex: 1 1;
    order: 1;

    .article-header {
      flex: 1 1 25px;
      padding: 12px 24px 16px 24px;
    }

    .article-title-text {
      font-weight: 400;
      font-size: 24px;
    }

    //child content box with main content
    .context-box {
      @extend .context-box-common;

      p {
        margin: 0 0 15px 0;
      }

      h1 {
        font-size: 22px;
        margin-bottom: 20px;
      }

    }

    .hide-dropdown {
      max-height: 50px !important;
    }

    .upload-form {
      transition: max-height 0.8s ease;
      display: flex;
      flex: 1 1 160px;
      flex-flow: column;
      max-height: 200px;

      .form-dropdown {
        background: transparent;
        transition: all 0.3s;
        padding: 10px 0;
        justify-content: space-between;
        display: flex;
        flex: 0 0;
        flex-direction: row;
        width: 250px;
        cursor: default;

        p {
          margin-bottom: 0;
          line-height: 20px;
          font-size: 20px;
          font-weight: 600;
          background: transparent;
          transition: background-color, color 0.3s;
          color: $light-coral;
        }

        &:hover {
          background: lighten(gray, 45%);

          p {
            color: darken($light-coral,5%);
          }

        }

      }

      .upload-label {
        text-align: center;
        width: 123px;
        line-height: 30px;
        height: 30px;
      }

      .upload {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      .upload ~ div label {
        transition: background-color 0.6s;
        cursor: pointer; /* "hand" cursor */
        padding: 2px 0;
        font-size: 17px;
        font-weight: 400;
        color: white;
        background-color: lighten(red,20%);
        display: inline-block;
      }

      .upload:focus ~ div label , .upload ~ div label:hover {
        background-color: lighten(red, 15%);
      }


      h2 {
        line-height: 24px;
        font-size: 18px;
        font-weight: 600;
        color: $content-color;
        padding-bottom: 15px;
      }

      .form-group {
        padding-top: 15px;
        display: flex;
        flex: 0 0 150px;
        flex-direction: column;
        max-height: 300px;
        line-height: 20px;

        .input-field {
          height: 20px;
        }

        label {
          margin-top: 15px;
        }

      }

    }

    input.input-field {
      width: 250px;
      display: block;
      border: none;
      padding: 10px 0;
      border-bottom: solid 1px lighten(red, 25%);
      transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      background-size: 250px 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, lighten(red, 20%) 4%) no-repeat -250px 0;
      color: lighten(red, 25%);
    }

    input.input-field:focus, input.input-field:valid {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
    }

    input.input-field::-webkit-input-placeholder {
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    input.input-field:focus::-webkit-input-placeholder, input.input-field:valid::-webkit-input-placeholder {
      color: lighten(red, 25%);
      font-size: 13px;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
      visibility: visible !important;
    }

    #library-wrapper {
      margin-top: 15px;
      background: white;
      display: flex;
      flex-direction: column;
      flex: 1 1;
    }

    .book-wrapper {
      transition: background 0.3s;
      cursor: default;
      max-height: 57px;
      display: flex;
      flex-flow: column;
      flex: 1 1 64px;
      border-bottom: 1px solid lighten($content-color, 30%);
      margin-bottom: 10px;

      &:hover {
        background: transparentize(lightgray, 0.5);
      }
    }

    .book-name {
      font-size: 18px;
      font-weight: 600;
    }

    .book-info {
      font-size: 12px;
      .green, .yellow, .black {
        font-size: 12px;
      }
    }

  }

  @media (max-width: 800px) {
    article.main-box {
      margin-left: 0;
    }
  }

}
