@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:host{
  nav {
    ul {
      list-style: none;
      li a {
        display: flex;
        align-items: center;
        height: 56px;
        padding: 0 20px;
        text-decoration: none;
        color: black;

        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.08);
          cursor: pointer;
        }

        i {
          margin-right: 20px;
          opacity: 0.5;
        }
      }
    }
  }
}
