<article class="main-box">
  <header class="article-header">
    <h1 class="article-title-text">How to start</h1>
  </header>
  <div class="article-title">
    <p class="article-pre-title-text">An amazing journey begins</p>
  </div>
  <article class="context-box">

    <section class="section">
      <h1>How to use Easy Reader</h1>
      <p><span class="format-label">Step 1.</span> Registration</p>
      <p><span class="format-label">Step 2.</span> Upload any English Text</p>
      <p><span class="format-label">Step 3.</span> Check several unknown words</p>
      <p><span class="format-label">Step 4.</span> Look at the options regarding words list</p>
      <p><span class="format-label">Step 5.</span> Export your word list and start learning</p>
    </section>

    <section class="section">
      <h1>Step 1. Registration</h1>
      <p>Go to registration form (you don't need to verify your email, this step takes about 1 minute) After that -
        you're ready to kick of.</p>
    </section>

    <section class="section">
      <h1>Step 2. Upload any English Text</h1>
      <p>For text upload click on <span class="text-emphasize">«Add Book»</span> button on the left menu</p>
    </section>

    <section class="section">
      <h1>Step 3. Check unknown words</h1>
      <p><span class="number">1.</span> Go to your book list</p>
      <p><span class="number">2.</span> Click on the book </p>
      <p><span class="number">3.</span> Click on the word and check at as <span class="black">«Learned»</span>, or <span
        class="yellow">«In progress»</span></p>
    </section>

    <section class="section">
      <h1>Step 4. Look at the options regarding words list</h1>
      <p>On the words list page you can do the following:</p>
      <p><span class="number">1.</span><span class="text-emphasize"> Filter your words</span> by part of the speech,
        status and etc</p>
      <p><span class="number">2.</span><span class="text-emphasize"> Sort words</span> (the order they follow on the
        book or quantity of using
        the text) </p>
      <p><span class="number">3.</span><span class="text-emphasize"> Show and hide</span> the translation and context
        from the text</p>
      <p><span class="number">4.</span><span class="text-emphasize"> Print Words</span></p>
      <p><span class="number">5.</span><span class="text-emphasize"> Export words</span> in Excel, PDF and Anki</p>
    </section>

    <section class="section">
      <h1>Step 5. Export your word list and start learning</h1>
      <p>You can export your words in the <span class="text-emphasize">Excel</span> or <span class="text-emphasize">PDF format</span>.
        If you want to learn your words set via Anki, you should use option <span class="text-emphasize">«Export in Anki»</span>
      </p>
    </section>


  </article>
</article>

