@font-face {
  font-family: "Roboto";
  src: url(../public/fonts/roboto/Roboto-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../public/fonts/roboto/Roboto-Bold.ttf);
  font-weight: bold;
}


@font-face {
  font-family: "Roboto";
  src: url(../public/fonts/roboto/Roboto-Medium.ttf);
  font-weight: 400;
}

