<article class="main-box">
  <header class="article-header">
    <h1 class="article-title-text">What's that / Short Overview</h1>
  </header>
  <div class="article-title">
    <p class="article-pre-title-text">Short project overview and description</p>
  </div>
  <article class="context-box">
    <p>Study English by reading what you really like. In original without using any vocabulary.</p>
    <section class="section">
      <h1>How this works</h1>
      <div id="overview-case">
        <div id="load-section" class="flex-section">
          <div class="image-wrapper"><img class="overview-book-image" src="img/download-book.ico"/></div>
          <div><span>You load your favourite book or any text</span></div>
          <div><span>Possible Formats: <span class="format-label">txt</span>, <span
            class="format-label">doc</span>, <span class="format-label">fb2</span></span></div>
        </div>
        <div class="flex-section">
          <div class="image-wrapper"><img class="overview-book-image" src="img/loading.gif"/></div>
          <span>Easy Ready read your book</span>
        </div>
        <div id="result-section" class="flex-section">
          <div class="image-wrapper"><img class="overview-book-image" src="img/book-icon.svg"/></div>
          <span>You have your words with translation and ready to study</span>
        </div>
      </div>
    </section>

    <section class="section">
      <h1>Why you should use this</h1>
      <p>Automatic translator is designed for getting some fast result. The translation quality is quite poor and
        you don't learn anything at all. We are open source project and we want to provide a platform for everybody
        to study English language</p>
      <div class="our-goals">
        <p>Our Motivation:</p>
        <div class="flex-column">
          <div class="flex-column-goals">
            <div class="image-wrapper goal-wrapper"><img src="img/timer-icon.png"/>
              <p class="goal-label">Convenience</p></div>
            <p>Save your time. Read what you like without looking at the vocabulary</p>
          </div>
          <div class="flex-column-goals">
            <div class="image-wrapper goal-wrapper"><img src="img/idea.ico"/>
              <p class="goal-label">Efficiency</p></div>
            <p>Your brain is always in the process of leaning language</p>
          </div>
          <div class="flex-column-goals">
            <div class="image-wrapper goal-wrapper"><img src="img/studying-icon.svg"/>
              <p class="goal-label">Study</p></div>
            <p>Read in the original language. «Skill up» your word pack and get used to expose your self into
              foreign
              language</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <h1>How application understands what you know?</h1>
      <p>Based on your profile vocabulary. Each word has two states <span class="green">"New"</span>, <span
        class="yellow">"In progress"</span>, <span class="black">"Learned"</span>.
        Words that you know stored inside your private profile. Each read book increases your vocabulary bank </p>
    </section>


    <section class="section">
      <h1>Application helps to learn words</h1>
      <p class="p-title-common">How it's done:</p>
      <p><span class="number">1.</span> <span class="emphasize-p">The main thing — list of words.</span> It's built
        for the whole text or just for a part. There is a common list of words for learning.</p>
      <p><span class="number">2.</span> <span
        class="emphasize-p">Word using statistic is build based on your texts.</span> Learn the most often
        words first.</p>
      <p><span class="number">3.</span> <span class="emphasize-p">It's easy to switch from reading to words learning.</span>
        Convenient for big
        texts. For instance
        - you've looked at the words of next 5 pages → read the text → repeat the words → continue with the next 5
        pages</p>
      <p><span class="number">4.</span> <span class="emphasize-p">Print Words.</span> Learn words on the way or in
        the spare time</p>
      <p><span class="number">5.</span> <span class="emphasize-p">Words export.</span> Import words for studying in
        the programs like <span class="emphasize-p">(Anki, Memrise and etc.)</span></p>
    </section>

    <section class="section">
      <h1>And also :)</h1>
      <p><span class="number">1.</span>Application translates phrasal <span class="emphasize-p">verbs and idioms</span></p>
      <p><span class="number">2.</span><span class="emphasize-p">Easy Reader is completely FREE.</span> Use it as much as you want</p>
      <p><span class="number">3.</span>Optimised for <span class="emphasize-p">tablets, smartphones and desktops</span></p>
    </section>

  </article>
</article>

