:host {

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: baseline;

  .header-menu-button {
    width: 128px;
    height: 64px;
    color: white;
    margin: 0 auto;
    border-width: 0;
    outline: none;
    border-radius: 2px;

    background-color: transparent;
    font-size: 0.9em;
    font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    transition: background-color .3s;
    text-transform: uppercase;

    &:hover, &:focus {
      background-color: transparentize(white, 0.8);
    }

  }

  .drop-down-icon {
    &:before {
      transform: scale(1, 0.5);
      display: inline-block;
      font-size: 1em;
      color: transparentize(white, 0.2);
      padding-left: 6px;
      content: "\25BC";
    }

  }

  @media (min-width: 801px) {
     .header-menu-button{
       display: none;
     }
  }


}
