:host {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  app-header {
    flex: 0 0 64px;
    display: flex;
    z-index: 2;
    background: lighten(lightcoral, 5%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  }

  left-menu {
    z-index: 1;
    background: lighten(lightblue, 20%);
    flex: 0 0 260px;
    overflow: auto;
    order: 0;
    //border-right: 1px solid #d9d9d9;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  }

  section {
    flex: 1 1 100vh;
    display: flex;
  }

  article {
    display: flex;
    flex-direction: column;
    background: #F3F3F5;
    flex: 1 1 100px;
    order: 1;
    overflow: auto;
    padding: 1px;

    .article-header{
      padding: 48px 48px 32px 48px;
      background: linear-gradient(145deg,darken(lightcoral, 10%),lighten(lightcoral, 5%));
      display: flex;
      flex: 0 0 200px;
    }

    .article-title{
      display: flex;
      flex: 0 0 100px;
      background: #FBFBFC;
      border-bottom: 1px solid #ECEFF1;
    }

    .article-title-text{
      font-size: 2em;
      text-transform: uppercase;
      color: white;
      font-weight: 400;
    }

    .context-box {
      background: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
      min-width: 200px;
      display: flex;
      flex: 0 0 100%;
    }
  }

  @media (max-width: 800px) {
    left-menu {
      display: none;
    }
  }
}
